- content_for :page_title do
  = Spree.t(:zones)
- content_for :page_actions do
  = button_link_to Spree.t(:new_zone), new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_zone_link'
- end if can? :create, Spree::Zone
= paginate @zones
- if @zones.any?
  %table#listing_zones.table{"data-hook" => ""}
    %thead
      %tr{"data-hook" => "zones_header"}
        %th= sort_link @search,:name, Spree.t(:name), title: 'zones_order_by_name_title'
        %th
          = sort_link @search,:description, Spree.t(:description), {}, {title: 'zones_order_by_description_title'}
        %th= Spree.t(:default_tax_zone)
        %th.actions
    %tbody
      - @zones.each do |zone|
        %tr{"data-hook" => "zones_row", :id => "#{spree_dom_id zone}"}
          %td= zone.name
          %td= zone.description
          %td= zone.default_tax? ? Spree.t(:say_yes) : Spree.t(:say_no)
          %td.actions.actions-2.text-right
            = link_to_edit(zone, no_text: true) if can? :edit, zone
            = link_to_delete(zone, no_text: true) if can? :delete, zone
- else
  .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Zone))
    ,
    \#{link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::Zone}!
= paginate @zones
