.row{"data-hook" => "admin_tracker_form_fields"}
  .col-md-4{"data-hook" => "analytics_id"}
    = f.field_container :analytics_id, class: ["form-group"], "data-hook" => "analytics_id" do
      = f.label :analytics_id, Spree.t(:google_analytics_id)
      = f.text_field :analytics_id, class: 'form-control'
      = f.error_message_on :analytics_id
  .col-md-4
    .form-group{"data-hook" => "active"}
      = label_tag nil, Spree.t(:active)
      .radio
        = label_tag :tracker_active_true do
          = radio_button(:tracker, :active, true)
          = Spree.t(:say_yes)
      .radio
        = label_tag :tracker_active_false do
          = radio_button(:tracker, :active, false)
          = Spree.t(:say_no)
  %div{"data-hook" => "additional_tracker_fields"}
