- content_for :page_title do
  = plural_resource_name(Spree::Collection)
- content_for :page_actions do
  = button_link_to Spree.t(:new_collection), new_object_url, { class: 'btn-success', icon: 'add', 'data-update' => 'new_collection', id: 'new_collection_link' }
- if @collections.any?
  %table#listing_collections.table{ 'data-hook' => '' }
    %thead
      %tr{'data-hook' => 'collections_header'}
        %th= Spree.t(:name)
        %th.actions
    %tbody
      - @collections.each do |collection|
        %tr{ 'data-hook' => 'collections_row', :id => spree_dom_id(collection) }
          %td= collection.name
          %td.actions.actions-2.text-right
            = link_to_edit(collection, no_text: true, class: 'admin_edit_collection')
            = link_to_delete(collection, no_text: true)
- else
  .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Collection))
    ,
    \#{link_to Spree.t(:add_one), new_object_url}!
