.panel-heading
  %h1.panel-title
    = Spree.t(:rules)
#rule_fields.panel-body
  = form_tag spree.admin_promotion_promotion_rules_path(@promotion), remote: true, id: 'new_product_rule_form' do
    .form-group
      = label_tag :promotion_rule_type, Spree.t(:add_rule_of_type)
      = select_tag('promotion_rule[type]', options_for_promotion_rule_types(@promotion), class: 'select2')
    .form-actions
      = button Spree.t(:add), 'plus', 'submit', class: "btn-success"
  = form_for @promotion, url: object_url, method: :put do |f|
    #promotion-policy-select
      - Spree::Promotion::MATCH_POLICIES.each do |policy|
        .radio
          = f.label "match_policy_#{policy}" do
            = f.radio_button :match_policy, policy
            = Spree.t "promotion_form.match_policies.#{policy}"
    #rules.filter_list.margint
      - if @promotion.rules.any?
        = render partial: 'promotion_rule', collection: @promotion.rules, locals: {}
      - else
        .alert.alert-warning
          = Spree.t(:no_rules_added)
    .promotion-update.actions
      = button Spree.t('actions.update'), 'ok'
