.panel-body.calculator-fields
  - promotion_action.promotion_action_line_items.each do |item|
    %strong
      = item.quantity
      x #{item.name}
    = item.variant.options_text
  - if promotion_action.promotion_action_line_items.empty?
    - line_items = promotion_action.promotion_action_line_items
    - line_items.build
    - line_items.each_with_index do |line_item, index|
      .add-line-item
        - line_item_prefix = "#{param_prefix}[promotion_action_line_items_attributes][#{index}]"
        .form-group
          = label_tag "#{line_item_prefix}_variant_id", Spree.t(:variant)
          = hidden_field_tag "#{line_item_prefix}[variant_id]", line_item.variant_id, class: "variant_autocomplete fullwidth-input"
        .form-group.no-marginb
          = label_tag "#{line_item_prefix}_quantity", Spree.t(:quantity)
          = number_field_tag "#{line_item_prefix}[quantity]", line_item.quantity, min: 1, class: 'form-control'
