- content_for :page_title do
  = Spree.t(:general_settings)
= form_tag admin_general_settings_path, method: :put do
  #preferences{"data-hook" => ""}
    %fieldset.general.no-border-top
      = fields_for :store do |f|
        .row
          .col-md-6
            .form-group{"data-hook" => "admin_general_setting_input_name"}
              = f.label :name
              = f.text_field :name, class: 'form-control'
          .col-md-6
            .form-group{"data-hook" => "admin_general_setting_input_seo_title"}
              = f.label :seo_title
              = f.text_field :seo_title, class: 'form-control'
        .row
          .col-md-6
            .form-group{"data-hook" => "admin_general_setting_input_meta_keywords"}
              = f.label :meta_keywords
              = f.text_field :meta_keywords, class: 'form-control'
          .col-md-6
            .form-group{"data-hook" => "admin_general_setting_input_meta_description"}
              = f.label :meta_description
              = f.text_field :meta_description, class: 'form-control'
        .row
          .col-md-6
            .form-group{"data-hook" => "admin_general_setting_input_url"}
              = f.label :url
              = f.text_field :url, class: 'form-control'
          .col-md-6
            .form-group{"data-hook" => "admin_general_setting_mail_from_address"}
              = f.label :mail_from_address
              = f.text_field :mail_from_address, class: 'form-control'
      .row
        .col-md-6
          - if @preferences_security.any?
            .panel.panel-default.security
              .panel-heading
                %h1.panel-title
                  = Spree.t(:security_settings)
              .panel-body
                - @preferences_security.each do |key|
                - type = Spree::Config.preference_type(key)
                  .checkbox
                    = label_tag key do
                      = preference_field_tag(key, Spree::Config[key], type: type)
                      = Spree.t(key)
          .panel.panel-default
            .panel-heading
              %h1.panel-title= Spree.t(:clear_cache)
            .panel-body
              .clear-cache-warning.alert.alert-warning
                = Spree.t(:clear_cache_warning)
              %div{"data-hook" => "general_settings_clear_cache"}
                = button Spree.t(:clear_cache), 'ok', 'button', id: "clear_cache"
        .col-md-6
          .panel.panel-default.currency
            .panel-heading
              %h1.panel-title
                = Spree.t(:currency_settings)
            .panel-body
              .form-group
                = label_tag :currency, Spree.t(:choose_currency)
                = select_tag :currency, currency_options
      .form-actions{"data-hook" => "buttons"}
        = button Spree.t('actions.update'), 'save'
        %span.or= Spree.t(:or)
        = button_link_to Spree.t('actions.cancel'), edit_admin_general_settings_url, icon: 'delete'
:javascript
  $('#store_default_currency').select2();
  $('#currency').select2();
