%body
  %header#header.page-header{"data-hook" => ""}
    .header-main
      .container
        .row
          #logo.col-md-4.col-sm-3
            = link_to spree.root_path, class: 'navbar-brand' do
              = image_tag Spree::Config.logo, alt: 'Rock Solid Memories logo.', class: 'img-responsive'
          = render partial: 'spree/shared/nav_bar'
    .header-color
      .header-nav
        = render partial: 'spree/shared/main_nav_bar' if store_menu?
      = yield(:sub_header) if content_for?(:sub_header)
