= form_for :order, url: populate_orders_path, html: { id: 'add-to-cart', 'data-product-id' => @product.id } do |f|
  - if @product.variants_and_option_values(current_currency).any?
    = hidden_field_tag :variant_id, nil, :id => 'selected-variant'
    - @product.option_types.each do |option_type|
      %p.form-group
        = label_tag option_type.presentation
        = select_tag "[option_value_ids][#{option_type.id}]", options_from_collection_for_select( @product.variants.collect { |v| v.option_values.where(option_type_id: option_type.id).to_a }.flatten.uniq, :id, :presentation ), { :prompt => "Choose #{option_type.presentation}", :class => 'form-control form-control-lg variant-selector' }
  - else
    = hidden_field_tag :variant_id, @product.master.id
  #image-fields
    %p.form-group
      = label_tag :artwork_ids, 'Artwork'
      = select_tag :artwork_ids, options_from_collection_for_select(Spree::Artwork.all.order(:code), :id, :code), { class: 'full-width select2', multiple: true }
  #customization-fields
    - @product.master.customization_variants.order(:position).each do |customization_variant|
      - customization = customization_variant.customization
      %p.form-group
        = label_tag customization.presentation
        - if customization.value_type == 'string'
          = text_field_tag "[customizations][#{customization.name}]", nil, class: 'form-control form-control-lg', :disabled => true
        - elsif customization.value_type == 'select'
          = select_tag "[customizations][#{customization.name}]", options_from_collection_for_select( customization.customization_values, :name, :presentation ), { prompt: "Choose #{customization.presentation}", class: 'form-control form-control-lg', :disabled => true }
        - else
          = text_area_tag "[customizations][#{customization.name}]", nil, class: 'form-control form-control-lg', :disabled => true
  - if @product.price_in(current_currency) && !@product.price.nil?
    %div{"data-hook" => "product_price"}
      #product-price
        %h6.product-section-title= Spree.t(:price)
        %div
          %span.lead.price.selling{:itemprop => "price"}
            $--.--
          %span{:content => "#{@product.currency}", :itemprop => "priceCurrency"}
        - if @product.master.can_supply?
          %link{:href => "https://schema.org/InStock", :itemprop => "availability"}
        - elsif @product.variants.empty?
          %br
          %span.out-of-stock= Spree.t(:out_of_stock)
      .add-to-cart
        %br
        .input-group
          = number_field_tag :quantity, 1, class: 'title form-control', min: 1
          %span.input-group-btn
            = button_tag class: 'btn btn-success', id: 'add-to-cart-button', type: :submit do
              = Spree.t(:add_to_cart)
  - else
    #product-price
      %br/
      %div
        %span.price.selling{:itemprop => "price"}
          = Spree.t('product_not_available_in_this_currency')
