- variant.customization_variants.order(:position).each do |customization_variant|
  - customization = customization_variant.customization
  %p.form-group
    = label_tag customization.presentation
    - if customization.value_type == 'string'
      = text_field_tag "[customizations][#{customization.name}]", nil, class: 'form-control form-control-lg'
    - elsif customization.value_type == 'select'
      = select_tag "[customizations][#{customization.name}]", options_from_collection_for_select( customization.customization_values, :name, :presentation ), { prompt: "Choose #{customization.presentation}", class: 'form-control form-control-lg' }
    - else
      = text_area_tag "[customizations][#{customization.name}]", nil, class: 'form-control form-control-lg'
