- content_for :page_title do
  = link_to Spree.t(:stock_transfers), spree.admin_stock_transfers_url
  \/
  \#{Spree.t(:new_stock_transfer)}
%script#transfer_variant_template{:type => "text/template"}
  :cdata
    {{#each variants}}
    <tr>
    <td>{{name}}</td>
    <td class='text-center'>{{quantity}}</td>
    <td class='actions actions-1 text-center'>
    <button class='icon_link btn btn-danger btn-sm transfer_remove_variant' data-variant-id='{{id}}'>
    <span class='icon icon-delete' data-variant-id='{{id}}'></span>
    </button>
    <input type='hidden' id='variant[]' name='variant[]' value='{{id}}'>
    <input type='hidden' id='quantity[]' name='quantity[]' value='{{quantity}}'>
    </td>
    </tr>
    {{/each}}
= form_tag admin_stock_transfers_path, method: :post do
  .panel.panel-default
    .panel-heading
      %h1.panel-title
        = Spree.t(:transfer_stock)
    .panel-body
      %div{"data-hook" => "admin_stock_movements_form_fields"}
        #stock_movement_reference_field.form-group
          = label_tag 'reference', raw("#{Spree.t(:reference)} (#{Spree.t(:optional)})")
          = text_field_tag :reference, '', class: 'form-control'
        #receive_stock_field.form-group
          .checkbox
            %label{:for => "receive_stock"}
              = check_box_tag :transfer_receive_stock
              = Spree.t('receive_stock')
        #transfer_source_location_id_field.form-group
          = label_tag :transfer_source_location_id, Spree.t(:source)
          = select_tag :transfer_source_location_id, {}, class: 'select2'
        #transfer_destination_location_id_field.form-group
          = label_tag :transfer_destination_location_id, Spree.t(:destination)
          = select_tag :transfer_destination_location_id, {}, class: 'select2'
  #add-variant-to-transfer.panel.panel-default
    .panel-heading
      %h1.panel-title
        = Spree.t(:add_variant)
    .panel-body
      .row
        .col-md-8
          #stock_movement_variant_id_field.form-group
            = label_tag 'variant_id', Spree.t(:variant)
            = hidden_field_tag 'transfer_variant', {}, {class: 'fullwidth-input'}
        .col-md-4
          #stock_movement_quantity_field.form-group
            = label_tag :transfer_variant_quantity, Spree.t(:quantity)
            .input-group
              = number_field_tag :transfer_variant_quantity, 1, class: 'form-control', min: 0
              %span.input-group-btn
                = button Spree.t(:add), 'plus', 'submit', class: "transfer_add_variant"
  .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/variant'))
    \.
  #transfer-variants-table{:style => "display:none"}
    %table.table.table-bordered.sortable
      %thead{"data-hook" => "transfer_variants_header"}
        %th= Spree.t(:name)
        %th.text-center= Spree.t(:quantity)
        %th.actions
      %tbody#transfer_variants_tbody
  .form-actions{"data-hook" => "buttons"}
    = button Spree.t(:transfer_stock), 'plus transfer_transfer'
